<!DOCTYPE html>
    <body>
        <h1>Hostname</h1>
        <p>{{ hostname }}</p>
        <h1>Contact</h1>
        </p>{{ contact }}</p>
        <h1>Location</h1>
        <p>{{ location }}</p>
        <form action="update" method="post">
            <fieldset>
                <legend>Modify Router</legend>
                <label for"hostname">Hostname</label>
                <input id="hostname" name="hostname" type="text" />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    </body>
</html>
